*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(64, 64, 64);
}

header {
    width: 100%;
    background-color: rgb(32, 32, 32);
    top: 0;
}

/* Navigation bar */
.navbar {
    width: calc(50% + 3.5em);
    max-width: 120em;
    margin-left: calc(50vw - 3.5em);
    // Nederlandse Zaken logo style
    img {
        width: 5em;
        height: 5em;
        margin: auto;
    }

    nav {
        width: 100%;
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__link {
        font-size: 1.6em;
        text-decoration: none;
        display: block;
        margin: 0 2em;
        color: rgb(255, 255, 255);
        transition: transform 650ms;
    }

    &__active {
        text-decoration: underline;
    }

    &__hamburger {
        width: 3.2em;
        height: 1.8em;
        position: relative;
        cursor: pointer;
        line-height: 5em;
        z-index: 1500;
        margin-right: 20px;
    }

    // Style for the lines for the hamburger menu
    &__hamburger &__line {
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        display: block;
        right: 0;
        transition: all 650ms;
    }

    &__hamburger &__line:nth-child(1) {
        top: 0;
    }

    &__hamburger &__line:nth-child(2) {
        top: 50%;
        margin-top: -1px;
    }

    &__hamburger &__line:nth-child(3) {
        top: 100%;
        margin-top: -2px;
    }

    // Hamburger animation
    &__hamburger.active &__line:nth-child(1) {
        transform: translateY(.8em) rotate(45deg);
    }

    &__hamburger.active &__line:nth-child(2) {
        opacity: 0;
    }

    &__hamburger.active &__line:nth-child(3) {
        transform: translateY(-.8em) rotate(-45deg);
    }
}

.title {
    width: 100%;
    padding-left: 100px;

    h1 {
        margin-top: 50px;
        color: rgb(188, 188, 188);
        font-size: 3em;
    }
}


.wrapper {
    background-color: rgb(32, 32, 32);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.evenementenGrid {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 70px;
    width: 100vw;
    padding-top: 70px;
    padding-left: 5vw;
    padding-right: 5vw;

    .event {
        cursor: pointer;
        margin: 0 auto;
        overflow: hidden;
        background-color: rgb(39, 39, 39);
        height: auto;
        width: 370px;
        border-radius: 20px;
        //box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.6);
        box-shadow: -2px 10px 15px #0000004F;
        color: rgb(193, 193, 193);
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;

        &Img {
            background-color: white;
<<<<<<< HEAD
            height: 150px;
            width: 400px;
            margin-left: -40px;
            margin-top: -40px;
            object-fit: cover;
            object-position: center;
=======
            height: 200px;
            width: 300px;
            margin-left: -10px;
            margin-top: -10px;
>>>>>>> parent of f2567f8... Kut pim

            display: flex;
            justify-content: center;
            align-items: center;

        }


        .eventBody {
            margin-top: 10px;
            height: 150px;
            .eventTitle {
                color: rgb(193, 193, 193);
                font-size: 2.5em;
            }

            .line{
                width: 100px;
                height: 3px;
                border-radius: 100px;
                background-color: cornflowerblue;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            display: flex;
            flex-direction: column;
            max-width: 300px;

            p {
                margin-right: 10px;
                font-size: 16px;
            }
        }

        hr {
            border: solid 0.5px rgb(85, 85, 85);
            border-radius: 100px;
        }

        .eventFooter {
            margin-top: 10px;
            display: flex;
            flex-direction: row;

            p {
                margin-right: 50px;
            }
        }
    }

}

.pagination {
    margin: 100px auto 0;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;
}

.detail{

    .header{
        height: 220px;
        background-color: #5CE6B1;
    }

    .wrapper{
        background-color: rgb(64,64,64);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top: -25px;
        height: 70vh;
        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.6);
        z-index: 2;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .title{
            grid-column: 1;
            padding-left: 50px;

            h1{
                font-size: 4.5em;
                width: 100px;
                color: #5CE6B1;
                line-height: 65px;
                margin-bottom: 20px;
            }

            .date{
                font-size: 1em;
                color: #8A8A8A;
            }
        }

        .description{
            grid-column-start: 2;
            grid-column-end: 4;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .text{
                margin-left: 30px;
                grid-column: 1;
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                width: 500px;
                h1{
                    font-size: 2.5em;
                    color: #5CE6B1;
                    line-height: 40px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    min-height: 120px;
                    height: 120px;
                }

                .bar{
                    width: 250px;
                    height: 15px;
                    background: #5CE6B1;
                }

                .hint{
                    color: #767676;
                    margin-top: 20px;
                    font-size: 1.4em;
                    font-weight: bold;
                }
            }

            .tickets{
                display: flex;
                flex-direction: row;
                grid-column: 2;
                margin-top: 50px;
               margin-left: 90px;
                width: 200px;
                height: 70px;
                justify-self: center;
                justify-content: flex-start;
                font-size: 1.5em;
                color: #767676;
                text-align: right;
                font-weight: bold;

                .bar{
                    margin-top: 5px;
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 2px;
                    background-color: #5CE6B1;
                }

                .count{
                    font-size: 2em;
                    width: 50px;
                    color: #5CE6B1;
                    font-weight: bold;

                }
            }
        }

        .programma{
            grid-column: 1;
            grid-row: 2;
            margin-top: 20px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            background-color: #767676;
            width: 100%;
            height: 750px;
            box-shadow: 0px -10px 15px #00000027;
            padding-left: 50px;
            padding-top: 50px;
            padding-right: 100px;

            display: flex;
            flex-direction: column;
            color: #373737;;


            hr{
                border: solid 0.5px;
                margin-bottom: 1em;
                margin-top: 1em;
            }

            .programmaList{
                display: flex;
                flex-direction: column;
                height: 300px;

                h1{
                    color: #373737;
                    font-size: 35px;
                    font-weight: bold;
                }

                .listItem{
                    h2{
                        color: #5CE6B1;

                    }
                }
            }

            .info{
                display: flex;
                flex-direction: column;

                h1{
                    color: #373737;
                    font-size: 35px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .listItem{
                    margin-bottom: 10px;
                    h2{
                        font-size: 20px;
                        color: #5CE6B1;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }

        .congres{
            grid-column-start: 2;
            grid-column-end: 4;
            margin-top: 20px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            background-color: #202020;
            width: 100%;
            height: 750px;
            box-shadow: 0px -10px 15px #00000027;
            padding-left: 50px;
            padding-top: 50px;

            h1{
                color: #767676;
                font-size: 35px;
                font-weight: bold;
            }
        }

        .inschrijven{
            grid-column: 1;
            grid-row: 3;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            background-color: #202020;
            width: 100%;
            height: 200px;
            box-shadow: 0px -10px 15px #00000027;
            z-index: 3;
            margin-top: -100px;
        }

        .geselecteerde{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 3;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            background-color: #767676;
            width: 100%;
            height: 300px;
            box-shadow: 0px -10px 15px #00000027;
            z-index: 3;
            margin-top: -200px;
            padding-left: 50px;
            padding-top: 25px;

            h1{
                color: #373737;
                font-size: 35px;
                font-weight: bold;

            }
        }
    }
}


//@media screen and (max-width: 768px) {
//    .navbar__list {
//        width: 100%;
//        height: 100%;
//        flex-direction: column;
//        align-items: center;
//        justify-content: center;
//        background-color: rgb(235, 91, 12);
//        position: fixed;
//        left: 0;
//        bottom: -100vh;
//        transition: bottom 650ms;
//    }
//    .navbar__list.active {
//        bottom: 0;
//    }
//    .navbar__link {
//        padding-bottom: 3em;
//    }
//}

.navbar__list {
    width: 100%;
    max-width: 400px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    position: fixed;
    bottom: 0;
    right: -100vh;
    transition: right 650ms;
}

.navbar__list.active {
    right: 0;
}

.navbar__link {
    padding-bottom: 3em;
}

//
//@media screen and (min-width: 769px) {
//    .navbar__hamburger {
//        display: none;
//    }
//}
